.body__chat .screen {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    ),
    url("https://scontent-sea1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/p640x640/16906427_341545089575122_1207617114257489920_n.jpg?_nc_ht=scontent-sea1-1.cdninstagram.com&oh=a8170172613f3f499a21f2d0e76a6ed7&oe=5DF11ECA&ig_cache_key=MTQ1OTU3NTkzNDkzNTI2ODE0OQ%3D%3D.2");
  background-size: cover;
  background-position: right bottom;
}

.chat__write--container {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #f2fcfa;
}

.chat__icon-left {
  position: absolute;
  left: 10px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat__write {
  margin: 0 auto;
  bottom: 0px;
  width: 100%;
  border-radius: 0;
  padding: 20px 60px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__icon {
  font-size: 18px;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__timestamp__box {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.chat__timestamp__box .chat__timestamp {
  text-align: center;
  width: 220px;
  border-radius: 10px;
  background-color: rgba(200, 200, 200, 0.5);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
}

.m-avatar.message__avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 42.5%;
}

.message {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.incoming-message {
  justify-content: flex-start;
}

.sent-message {
  justify-content: flex-end;
}

.message__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.message__content .message__author {
  font-size: 12px;
  color: #222222;
  margin-bottom: 2px;
}

.message__content .message__bubble {
  padding: 6px 10px;
  border-radius: 6px;
  max-width: 250px;
  line-height: 1.25;
  box-shadow: 2px 2px 5px rgba(200, 200, 200, 0.5);
}

.incoming-message .message__bubble {
  background-color: rgba(255, 255, 255, 0.8);
  border-top-left-radius: 0px;
}

.sent-message .message__bubble {
  background-color: rgba(250, 225, 0, 0.8);
  border-bottom-right-radius: 0px;
}
