@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Roboto&display=swap");
@import url("./reset.css");
@import url("./status-bar.css");
@import url("./header.css");
@import url("./nav.css");
@import url("./friend.css");
@import url("./friends.css");
@import url("./news.css");
@import url("./more.css");
@import url("./animation.css");
@import url("./settings.css");
@import url("./mediaquery.css");
@import url("./chat.css");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  margin: 0px;
  font-weight: 300;
  overflow: hidden;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.screen {
  position: relative;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    /* rgba(179, 231, 255, 0.3), */ rgba(255, 255, 255, 1),
    rgba(179, 231, 255, 1)
  );
  padding: 0px;
  margin: 0px;
  color: #444444;
}

main {
  padding: 0px 20px 40px 20px;
  overflow: auto;
}
